@font-face {
  font-family: "Figtree";
  src: url("/fonts/figtree/FigtreeVariableFont.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/jetbrains-mono/JetBrainsMonoVariable.ttf") format("truetype");
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
}